form {
  // text-align: center;
  h2 {
    font-weight: normal;
    font-size: 25px;
    color: $dark;
    margin-bottom: 20px;
  }
  input,textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 30%;
    border-radius: 20px;
    font-weight: bold;
    color: $accent;
    border: 5px solid $accent;
    &:hover {
      background-color: lighten($accent, 10%);
      color: lighten($white, 10%);
    }
  }
  .selectbox {
    width:45%;
    margin-bottom: 15px;
    position:relative;
  }
  select{
    -webkit-appearance:none;
      appearance:none;
    width:100%;
    padding: 8px;
    border: 1px solid $gray;
    border-radius: 5px;
    background:#fff;
    font-family: "游ゴシック", "YuGothic";
  }
  .selectbox::after{
    content:"";
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    right:10%;
    top:35%;
    border-bottom:#333 2px solid;
    border-right:#333 2px solid;
    transform:rotate(45deg)translateY(-30%);
  }
  a {
    color: $dark;
    &:hover {
      color: $accent;
    }
  }
}

.success {
  display: flex;
  text-align: center;
  justify-content: center;
  .h3 {
    font-weight: normal;
    font-size: 25px;
    color: $dark;
    margin-bottom: 20px;
  }
  .btn {
    width: 30%;
    border-radius: 20px;
    font-weight: bold;
    color: $accent;
    border: 5px solid $accent;
    &:hover {
      background-color: lighten($accent, 10%);
      color: lighten($white, 10%);
    }
  }
}


// formのheader
.form_header {
  position: fixed;
  .form_header__menu-bar {
    height: 80px;
    padding: 0 30px;
    border-bottom: 2px solid darkGray;
    background-color: white;
    text-align: center;
.title_f a {
  font-family: Alatsi;
  font-size: 30px;
  font-weight: bold;
  top: 25px;
  left: 30px;
  z-index: 2;
}
    .guest__menu {
      font-size: 18px;
      line-height: 80px;
      display: flex;
      justify-content: flex-end;
      a {
        color: $dark;
        &:hover {
          color: $accent;
        }
      }
      .guest {
        margin-left: 20px;
      }
    }
  }
}