<%= render 'layouts/form_header' %>

<div class="contents row">
  <div class="success">
    <h3>
      投稿を削除しました！
    </h3>
    <%= link_to "マイページへ戻る", "/users/#{current_user.id}" %>
    <a class="btn" href="/">トップページへ戻る</a>
  </div>
</div>

<%= render 'layouts/footer' %>