<div form_header>
  <div class="form_header__menu-bar">
    <h1 class="title"><a href="/">TouringNote</a></h1>
    <div class="guest__menu">
      <%= link_to "ログアウト", "/users/sign_out", method: :delete %>
      <%= link_to "投稿する", "/posts/new", class: "guest" %>
    </div>
  </div>
</div form_header>